<div
  id="navbar"
  class="flex fixed w-screen justify-around text-white p-5 font-mono"
>
  <a href="#Inicio" class="hover:text-red-600">Inicio</a>
  <a href="#que es" class="hover:text-red-600">¿Que es?</a>
  <a href="#caracteristicas" class="hover:text-red-600">Caracteristicas</a>
  <a href="#mapas" class="hover:text-red-600">Mapas</a>
</div>
<div class="containerAll">
  <div
    id="Inicio"
    class="text-center text-9xl h-screen justify-center items-center pt-[20%] cursor-default"
  >
    ¡Bienvenido Jugador!
  </div>
  <div id="que es" class="h-screen">
    <div class="p-36 text-3xl bg-gray-950 border-orange-600 border-l-2">
      <p class="">
        En un mundo sumido en la oscuridad, las profundidades subterráneas
        albergan secretos ancestrales y horrores inimaginables. <br />Eres un
        intrépido aventurero que se aventura en las catacumbas, buscando
        respuestas y tesoros. Sin embargo, cada incursión es una lucha por la
        supervivencia, ya que las criaturas abismales y las trampas mortales
        acechan en cada esquina. <br /><br />
        En los confines del universo, donde la luz se desvanece y las
        constelaciones languidecen, existe un enigma ancestral que desafía la
        comprensión de los mortales: el Laberinto de las Estrellas Olvidadas.
        <br /><br />
        Los astrónomos lo consideran una leyenda, pero tú, valiente
        explorador/a, has descubierto pruebas tangibles de su existencia. Aquí,
        en las profundidades del espacio-tiempo, se entrelazan dimensiones y
        secretos cósmicos.
      </p>
      <br /><br />
      <p class="text-center underline decoration-solid text-8xl">
        ¡Tu puedes encontrar los secretos de la creacion!
      </p>
    </div>
  </div>
  <div id="caracteristicas" class="h-screen">
    <div
      class="grid gap-5 grid-cols-4 p-52 text-center bg-gray-950 border-orange-600 border-l-2"
    >
      <h2
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Generación Procedural
        </p>
        Cada nivel de las catacumbas se genera de forma aleatoria, lo que
        garantiza que cada partida sea única. Los pasillos retorcidos, las salas
        ocultas y los tesoros cambian en cada exploración.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Muerte permanente
        </p>
        Si mueres, pierdes todo tu progreso y debes comenzar desde el principio.
        La tensión aumenta a medida que te adentras más en las profundidades,
        sabiendo que un error podría ser fatal.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Clases y Habilidades
        </p>
        Elige entre diferentes clases de personajes, como el valiente guerrero,
        el astuto ladrón o el místico hechicero. Cada clase tiene habilidades
        únicas que puedes mejorar a medida que avanzas.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          El Abismo Final
        </p>
        Rumores hablan de un nivel aún más profundo, donde aguarda el Abismo
        Final. Nadie ha regresado de allí, pero aquellos que lo intentan buscan
        respuestas definitivas y la promesa de un poder inimaginable.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Artefactos y Reliquias
        </p>
        Encuentra artefactos antiguos y reliquias poderosas que otorgan
        habilidades especiales. Algunos pueden cambiar la mecánica del juego,
        como permitirte volar o manipular el tiempo.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Bestiario Abismal
        </p>
        Enfréntate a criaturas grotescas y aterradoras, desde arañas gigantes
        hasta espectros vengativos. Cada enemigo tiene patrones de ataque
        distintos y debes aprender a enfrentarlos estratégicamente.
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Historia Oculta
        </p>
        A medida que desciendes, descubres inscripciones en antiguos idiomas y
        murales que cuentan la historia de un cataclismo ancestral. ¿Qué provocó
        la caída de esta civilización? ¿Y qué secretos guardan las
        profundidades?
      </h2>
      <h2
        id="h2Bg"
        class="w-72 cursor-default rounded-xl p-2 bg-gray-800 border-orange-600 border-l-2"
      >
        <p class="cursor-default text-2xl underline decoration-solid">
          Dimensiones entrelazadas
        </p>
        El laberinto está compuesto por múltiples dimensiones superpuestas.
        Algunas áreas son normales, mientras que otras desafían las leyes de la
        física. Cambia entre dimensiones para resolver acertijos y superar
        obstáculos.
      </h2>
    </div>
  </div>
  <div id="mapas" class="h-screen">
    <div class="p-36 bg-gray-950 border-orange-600 border-l-2">
      <h1 class="text-6xl">¡Entra en esta inmersión de mundos!</h1>
      <div class="flex justify-around">
        <img
          class="rounded-2xl mt-10 hover:size-[20%]"
          src="../../../assets/Laberinto.jpg"
          alt=""
        />
        <img
          class="rounded-2xl mt-10 hover:size-[20%]"
          src="../../../assets/Laberinto2.jpg"
          alt=""
        />
        <img
          class="rounded-2xl mt-10 hover:size-[20%]"
          src="../../../assets/Laberinto3.jpg"
          alt=""
        />
        <img
          class="rounded-2xl mt-10 hover:size-[20%]"
          src="../../../assets/Laberinto4.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
